
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("../images/jr-korpa-_OQ8Jc7kBmA-unsplash_1920x1045.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.page-header {
  width: 100%;
  padding: 6rem 0 4rem 0;
  text-align: center;
  color: #fff;
}

.page-header__title {
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 3rem;
}

.page-header__subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.page-main {
  width: 90%;
  max-width: 1200px;
  background-color: #222;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .75);
}

.article-style1 {
  width: 100%;
}

.article-style1 img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.article-style1__header {
  width: 100%;
  padding: 3rem 2rem;
  background-color: #fff;
  text-align: center;
}

.article-style1__header h2 {
  margin: 0;
  padding-bottom: 1rem;
  color: #111;
  font-size: 1.5rem;
}

.article-style1__header div {
  width: 25%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.article-style1__header p {
  margin: 0;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: .75rem;
}

.article-style1__content {
  width: 100%;
  background-color: #eee;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.article-style2 {
  width: 100%;
  padding: 2rem;
}

.article-style2__header {
  width: 100%;
  padding: 1.5rem;
  background-color: #000;
  text-align: center;
}

.article-style2__header h2 {
  margin: 0;
  padding-bottom: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.article-style2__header div {
  width: 25%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.article-style2__header p {
  margin: 0;
  padding-top: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: .75rem;
}

.article-style2__gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.article-style2__gallery img {
  flex: 100%;
  max-width: 100%;
  object-fit: cover;
}

.article-style3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.article-style3-alt {
  background-color: #222;
}

.article-style3 img {
  flex: 100%;
  max-width: 100%;
  object-fit: cover;
}

.article-style3__content {
  flex: 100%;
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.article-style3__content h3 {
  color: #111;
}
.article-style3-alt__content h3 {
  color: #fff;
}

.article-style3__content p {
  color: rgba(0, 0, 0, 0.7);
}
.article-style3-alt__content p {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer {
  padding: 3rem 0 2rem 0;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.page-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer a:hover {
  color: #fff;
}

.page-footer__social {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.page-footer__social a {
  padding: 0 7px;
}

@media screen and (min-width: 992px) {
  .article-style1__content {
    padding: 4rem;
  }

  .article-style2 {
    padding: 4rem;
  }

  .article-style2__gallery img {
    flex: 50%;
    max-width: 50%;
  }

  .article-style3 img {
    flex: 50%;
    max-width: 50%;
  }
  .article-style3-alt img {
    order: 2;
  }
  
  .article-style3__content {
    flex: 50%;
    max-width: 50%;
    padding: 4rem;
    text-align: left;
  }
  .article-style3-alt__content {
    text-align: right;
    order: 1;
  }
}